.backdrop {
  position: absolute;
  top: 1000px;
  left: 0;
  height: 150%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
